* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body, html, #root, .app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 1%;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap nav {
  width: 100%;
  height: 44px;
  background: #2b5295;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: center;
}

.wrap nav .img {
  width: 93px;
}

.wrap nav .img img {
  width: 80%;
}

.wrap nav .list {
  display: flex;
  margin-left: 93px;
  height: 100%;
  align-items: center;
}

.wrap nav .list a {
  color: #fff;
  padding: 0 20px;
  line-height: 44px;
  text-decoration: none;
}

.wrap nav .list a.active {
  background: #1e3d73;
}

.wrap section {
  width: 100%;
  flex: 1;
}

.wrap section .home {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
}

.wrap section .home .home-left {
  width: 21.7%;
  padding-top: 5%;
  box-sizing: border-box;
}

.wrap section .home .home-left .home-img {
  width: 100%;
  text-align: center;
}

.wrap section .home .home-left .home-img img {
  width: 50%;
}

.wrap section .home .home-left .home-user {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.wrap section .home .home-left .home-user p {
  line-height: 1.5em;
}

.wrap section .home .home-left .home-user .p {
  margin-left: 35%;
  text-align: left;
}

.wrap section .home .home-right {
  flex: 1;
  background: #fff;
}

.wrap section .management {
  width: 100%;
  height: 100%;
  display: flex;
}

.wrap section .management .management-list {
  width: 15%;
  background: #c5cfea;
  text-align: left;
}

.wrap section .management .management-list a {
  width: 100%;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px 10px;
  border-left: 4px solid transparent;
  background: #c5cfea;
  color: #334b7b;
}

.wrap section .management .management-list a.aactive {
  color: #0057ff;
  border-left: 4px solid #0057ff;
  background: #aebcdf;
}

.wrap section .management .management-con {
  flex: 1;
  background: #f7f7f7;
}
